# Библиотеки

In [37]:
import tensorflow as tf
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

# Описания моделей

Универсальная модель - LSTM

### FNN (классика)

Классификация и много данных - MLP

Проверить на возможность упрощения нейросети - AE (как песочные часы)

Воспроизвести картинку - RBM, DBM

### CNN (мало слоев, легче обучать)

Детекция - ResNet

Сегментация - UNet

Тепловая карта классификации - FCN

Обработка фото - Deconvolution networks

### Рекуррентные сети (зависимость по времени или вычислить что-то сложное)

На все случаи жизни - RNN, LSTM, GRU

Если надо вернуться назад по времени - BRNN, BLSTM

# LSTM

## Грузим БД

In [25]:
zip_path = tf.keras.utils.get_file(
    origin='https://storage.googleapis.com/tensorflow/tf-keras-datasets/jena_climate_2009_2016.csv.zip',
    fname='jena_climate_2009_2016.csv.zip',
    extract=True)
csv_path, _ = os.path.splitext(zip_path)

In [48]:
df = pd.read_csv(csv_path)
df = df[5::6] # уменьшаем количество данных
df.index = pd.to_datetime(df['Date Time'], format='%d.%m.%Y %H:%M:%S') # делаем индексом дату и время
df = df.drop(columns=['Date Time']) # удаляем лишний столбец даты и времени
df.head()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2009-01-01 01:00:00,996.50,-8.05,265.38,-8.78,94.4,3.33,3.14,0.19,1.96,3.15,1307.86,0.21,0.63,192.7
2009-01-01 02:00:00,996.62,-8.88,264.54,-9.77,93.2,3.12,2.90,0.21,1.81,2.91,1312.25,0.25,0.63,190.3
2009-01-01 03:00:00,996.84,-8.81,264.59,-9.66,93.5,3.13,2.93,0.20,1.83,2.94,1312.18,0.18,0.63,167.2
2009-01-01 04:00:00,996.99,-9.05,264.34,-10.02,92.6,3.07,2.85,0.23,1.78,2.85,1313.61,0.10,0.38,240.0
2009-01-01 05:00:00,997.46,-9.63,263.72,-10.65,92.2,2.94,2.71,0.23,1.69,2.71,1317.19,0.40,0.88,157.0

In [59]:
X_train, X_test, y_train, y_test = train_test_split(df_X, train_df_y, random_state=69)

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2013-10-29 10:30:00,986.09,13.16,287.47,5.36,59.05,15.16,8.95,6.21,5.66,9.08,1195.64,4.51,7.39,213.5

## Делаем модель

In [51]:
model1 = Sequential()
model1.add(InputLayer((5, 1)))
model1.add(LSTM(64))
model1.add(Dense(8, 'relu'))
model1.add(Dense(1, 'linear'))

model1.compile(loss='mse', optimizer='adam', metrics=['f1', 'precision', 'accurancy'])
'''model_checkpoint = ModelCheckpoint(filepath='model1_{epoch}.h5', 
                                   monitor='val_loss',
                                   verbose=1,
                                   save_best_only=True,
                                   save_weights_only=False,
                                   mode='auto',
                                   save_freq='epoch')'''

"model_checkpoint = ModelCheckpoint(filepath='model1_{epoch}.h5', \n                                   monitor='val_loss',\n                                   verbose=1,\n                                   save_best_only=True,\n                                   save_weights_only=False,\n                                   mode='auto',\n                                   save_freq='epoch')"